html,
body,
#root,
.full-height
  height 100%

.ymaps-2-1-35-map-copyrights-promo,
.ymaps-2-1-35-copyright
  display none!important

.navbar
  margin-bottom 0

h4.bg-primary
  margin 0
  padding 20px

.panel
.panel-primary > .panel-heading
.panel-default > .panel-heading
  border-radius 0

.panel-heading
  cursor pointer

.panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child
  border-radius 0

.navbar-form
  width 100%

  > .form-group
    width 100%

    > input
      width 100%
